.pg_title {
	background: #9356d1;
	text-align: center;
}
.pg_title h2 {
	color: #9356d1;
	font-size: 65px;
	text-transform: uppercase;
	font-family: 'Nanum Pen Script';
	font-weight: 500;
}
.as-desc {
	justify-content: center;
}
.au-row_1 {
	display: flex;
	margin: 0px auto 65px auto;
}
.au-row_2 {
	display: flex;
	margin: 0px auto 65px auto;
}
.abauth_indt .abauth {
	margin: 65px auto 65px auto;
}
.abauth {
	max-width: 500px;
	background: #fff;
	border-radius: 10px;
	margin-right: 75px;
}
.abauth img {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	max-width: 500px;
}
.abauth h3 {
	background: #fff;
	color: #24252a;
	font-size: 1.5em;
	font-family: 'Poppins';
	text-transform: capitalize;
	text-align: center;
	margin-top: 5px;
}
.abauth p {
	background: #fff;
	color: #24252a;
	font-family: 'Poppins';
	text-align: center;
	margin-top: -17px;
	padding: 0px 15px 0px 15px;
}
.abauth h4 {
	background: #fff;
	color: #24252a;
	font-size: 1em;
	font-family: 'Work Sans';
	text-transform: lowercase;
	text-align: center;
}
.abauth h4 strong {background: #fff;}